.product-item {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: translateY(-20px);
}

.product-image img {
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 12px;
  object-fit: cover;
}

.product-info {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-info h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.product-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: auto;
}

.product-rate {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gold;
  margin-top: 10px;
}

.star {
  font-size: 14px;
  margin-right: 5px;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5px;
}

.new-price {
  color: #f2994a;
  font-weight: 600;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: #b0b0b0;
  font-size: 14px;
}

.buy-button,
.in-cart {
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.buy-button:hover,
.in-cart:hover {
  text-decoration: underline;
}


.favorite-button {
  position: absolute;
  top: -10px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
  padding: 0;
}


.favorite-button.active {
  color: red;
}


.favorite-button:hover {
  color: rgba(255, 0, 0, 0.6);
  background-color: transparent;
  outline: none;
}